* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

header {
    padding: 20px 20px;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    background-color: aqua;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

.content-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.content-container div h2 {
    margin: 2px 0 50px 20px;
    padding-right: 10px;
    border-right: 1px solid blue;
}


.content-container nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-container nav ul li {
    list-style: none;
}

.content-container nav ul li a {
    padding: 10px 15px;
}

.content {
    margin-left: 10px;
}